@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}


/* Fin de la barre de navigation */
.carousel-inner {
    width: 600px;
    height: 300px;
}

header {
    display: flex;
    color: #3762DAFF;
    text-align: center;


}

nav {
    background-color: #3762DAFF;
    font-weight: bold;
    color:white;
}
.navright{
    margin-left:4em;
    font-weight: bold;
}

.presentation {
    display: flex;
    justify-content: center;
    height: 20%;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 2%;
    background-color: #feb800;

}
.homeKeeper{
    background-color: #8996a4;
    display: flex;
    justify-content: space-around;
    height: 20%;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 2%;
    color: #feb800;
}
.keeper{
    border: solid 1px;
    border-radius: 20px;
    box-shadow: #424242 2px;
}

.profil {
    height: 8%;
    width: 5%;
    border-radius: 50px;
    margin-right: 2%;
}
.text{
    color: white;
    font-size: large;
}
.textFloat{
    display: flex;
    margin-left: 20%;


}

.color {
    color: darkorange;
}


header button {
    padding: 15px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

/* Fin du header */

/* Section principale */

.main {
    margin: 20px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Toutes les cartes */
.cartes {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 7%;
    margin-top: 7%;

}

.img:hover{
    color: #424242;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    opacity: 1;
    transform: scale(1.15);
    -ms-transform: scale(1.15); /* IE 9 */
    -webkit-transform: scale(1.15); /* Safari and Chrome */
}


.conteneurs {
    justify-content: space-between;

}

.cartes .minicartes {
    margin-right: 20px;
    cursor: pointer;

}

.cartes .minicartes img {
    height: 400px;
    width: 400px;
}

.cartes .minicartes .carte-titre {

    text-align: center;
}

.cartes .minicartes .carte-corp p {
    margin-top: -10px;
    text-align: center;
}

h4 {
    text-align: center;
}

/* Fin de toutes les cartes */

/* Video de présentation */
.main .video {
    margin-top: 80px;
    width: 90%;
}

.main .video iframe {
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 400px;
}

/* Fin de la vidéo de présentation */

/* Fin de la section principale */

/* Pied de page */
footer {
    margin-top: 100px;
    background-color: #3762DAFF;
    padding: 30px;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nom {
    color: white;
}

/* Fin du pied de page */

@media screen and (max-width: 640px) {
    nav .onglets .link, nav h1 img .logo {
        display: none;
    }

    .homeKeeper{
        height: 70%;
        width: 70%;
        height: 70%;
        width: 70%;
    }

    .logo{
        height: 70%;
        width: 70%;
    }
    .cartes .carte img {
        width: 300px;
    }
}